@font-face {
  font-family: 'Michroma';
  src: url('resources/Michroma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: #505050; */
    background: linear-gradient(#b0b0b0, #505050);
    overflow-x: hidden;
    font-family: 'Michroma';
}

button {
    font-family: 'Michroma'
}
.masterDiv {
    width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
}

.headerDiv {
    width: inherit;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    /* background: linear-gradient(#3b3b3b, #505050); */
    background: linear-gradient(#eaeaea, #b0b0b0);
}

.headerDiv img {    
    width: 20%;
    height: auto;
    border-radius: 10%;
    margin-left: 5%;
}

.navDiv {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

.navItems {
    margin: 10%;
    color: #c73d06;
    transition: font-size 1s;
    font-size: 130%;
}

.navItems:hover {   
    font-size: 150%;
    color: #c73d06;
    padding: 2%;
    border-radius: 10%;
}

/* 
HEX: #424242
HEX: #E3DFFF
HEX: #2DE1FC
HEX: #AFB28D 
*/  

#login_formDiv {
    width: inherit;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#myForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5%;
    overflow: visible;
}

#outback {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

input {
  height: 50px;
  width: 100%;
  margin-bottom: 5%;
  padding-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: #5a5a5a;
  color: #f1f1f1;
  font-size: 100%;
  font-family: 'Michroma';
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
}

input::placeholder {
  color: #c1c1c1;
}


input:hover {
  background-color: #6b6b6b;
  box-shadow: 0 0 5px #f1f1f1; 
  transform: scale(1.02);
}

input:focus {
  background-color: #6b6b6b;
  box-shadow: 0 0 5px #f1f1f1;
  transform: scale(1.02);
}

button {
    height: 50px;
    width: 75%;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #c73d06, #a14900);
    color: #f1f1f1;
    font-size: 100%;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #c73d06, #a14900);
    transition: all 2s ease;
}

/* register */
#formDiv_reg {
    width: 100vw;
    justify-self: center;
    justify-content: space-between;
}

#myFormDiv {
    display: flex;
    flex-direction: row;
}

#formReg {
    width: 40%;
    display: none;
    margin: 5%;
}

#carMountain {
    display: none;
    width: 60%;
    height: auto;
    overflow: hidden;
}

#userTypeDiv {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#userTypeDiv button {
    height: 100px;
    border-radius: 25px;
    color: #f1f1f1;
    background: linear-gradient(135deg, #c73d06, #a14900);
    margin: 10%;
    padding: 10%;
    font-size: 150%;
}

#userTypeDiv button:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

/* ------------------- */

#KIADiv {
    display: none;
}

#BYDDiv {
    display: none;
}

#TeslaDiv {
    display: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#containTripleDiv {
    opacity: 0;
    animation: fadeIn 2s forwards;
}


#bcS {
    width: 100%;
    margin-top: 2%;
    height: 80%;
    position: absolute;
    z-index: 0;
    opacity: 0.4;
}

#tripleDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.elementDiv {
    width: 100%;
    height: 50vh;
    margin: 5%;
    align-self: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
}

.elementDiv img{
    width: inherit;
    padding: 2%;
    opacity: 0.4;
    transition: all 1s ease-in-out;
    z-index: 2;
    border-radius: 20px;
}

.elementDiv img:hover{
    opacity: 1;
    transform: scale(1.03) ;
    cursor: pointer;
}

/* ------------------------- */

#notificationBoard {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-bottom: -6%;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#notificationBoard h2,
#notificationBoard p {
    margin-left: 3%;
}

#notiB_header {
    color: #eaeaea;
}

#noti {
    width: 50vw;
    font-size: 120%;
}

#col {
    margin-left: 3%;
    width: 50%;
    background-color: #c1c1c1;
    border-radius: 20px;
    padding: 3%;
    display: none;
}

#colbut {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
}

#colbut button {
    width: 45%;
}

.contentDiv {
    width: 100%;
    height: 40vh;
    margin: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #c1c1c1a3;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#n_chargeSheet {
    background-color: #c1c1c1;
    border-radius: 20px;
    padding: 2%;
    display: none;
}



/* ----------------------------- */

#contactUsFooter {
    width: 100%;
    /* background: linear-gradient(#f9bf8c, #c73d06); */
    /* background-color: rgb(249, 191, 140); */
    background: linear-gradient(#b0b0b0, #eaeaea);
    color: rgb(36, 36, 36);
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#contactUsFooter h2{
    margin-left: 3%;
}
/* 
h2 {
    padding: 2%;
} */

#contactUsContent {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
}

#cuForm {
    flex: 1;
}


#cuForm input {
    margin: 1%;
    width: 80%;
    border-radius: none;
}

#cuForm button {
    font-family: 'Michroma';
    width: 30%;
    cursor: pointer;
}

#cuForm textarea {
    margin: 1%;
    width: 80%;
    height: 10vh;
    padding: 1%;
    outline: none;
    font-size: 100%;
    font-family: 'Michroma';
    box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
}

#cuInfo {
    flex: 1;
    /* background-color: #b0b0b0; */
    background: linear-gradient(150deg, #b0b0b0, #eaeaea);
    border-radius: 30px;    
    color: #242424;
    padding: 2%;
    box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
}

/* ----------------------- */

/* ----------------------- */
.choices3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choices3 button {
    margin-left: 2%;
    margin-right: 2%;
    transition: all 1s ease;
    border-radius: 10px;
    box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
}

.choices3 button:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 20px    rgba(0, 0, 0, 0.8);
}

/* ----------------------------- */
@keyframes flipMove {
  0% {
    transform: rotateY(0deg) translateX(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg)
    translateX(calc(-98vw + 100% + 50px));
  }
}

@keyframes widthExtend {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        transform: scaleX(3);
        opacity: 1;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes textDisappear {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.threeCars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  padding: 2%;
  z-index: 0;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 30vh;
  perspective: 1000px;
  overflow: visible;
  display: flex;
  align-items: center; 
  z-index: 1;
  flex-direction: row;
}

/* .card {
  width: 40%;
  height: 80%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  animation-play-state: paused;
} */

.card {
  width: 30vw;
  height: 30vh;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  animation-play-state: paused;
  z-index: 10;
}

/* .fillDiv {
  width: 60%;
  height: 100%;
} */

.fillDiv {
  width: 30vw;
  height: 30vh;
  background: linear-gradient(-150deg, #b0b0b0, #eaeaea);
  position: absolute;
  z-index: 0;
  left: 0;
  transform-origin: left;
  border-radius: 20px;
}

.carReserve {
    z-index: 1;
    position: absolute;
    left: 0;
    padding-left: 10%;
    opacity: 0;
    text-align: center;
}

.container:hover > .card {
  animation: flipMove 2s forwards;
  animation-play-state: running;
  animation-direction: normal;
}

.container:hover > .fillDiv {
  animation: widthExtend 2s forwards;
  animation-play-state: running;
  animation-direction: normal;
}

.container:hover > .carReserve {
    animation: textAppear 2s forwards;
}

#car1 .container:hover ~ .carDesc,
#car2 .container:hover ~ .carDesc,
#car3 .container:hover ~ .carDesc {
    animation: textDisappear 2s forwards;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.front img, .back img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: covfer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.back {
  transform: rotateY(180deg);
}

.carDesc {
    position:absolute;
    z-index: 0;
    width: 50vw;
    height: 20vh;
    right: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carDesc h1,
.carDesc h4,
.carDesc p {
    margin: 0;
    padding: 1%;
}
/* ------Loading-------- */
@keyframes loadingRotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes appear_rotp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loadingDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeOut 2s linear forwards;
    background: linear-gradient(#b0b0b0, #505050);
    scroll-behavior: none;
}

#imgLoading {
    width: 10vw;
    animation: loadingRotate 4s linear infinite;
}

#restOfThePage {
    z-index: 0;
    position: relative;
    width: inherit;
    animation: fadeOut 2s linear reverse;
}


/* ----------------------- */

#emDiv {
    position: relative;
    justify-content: center;
    align-items: center;
}


/* #custDiv {
    position: relative;
    background-color: #a14900;
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: fit-content;
} */

.testRow {
    width: 100%;
    height: 5vh;
    background-color: #c1c1c1;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px    rgba(0, 0, 0, 0.4);
    padding: 1%;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testRow button {
    width: 10vw;
}

/* ----------------------- */

/* #chargeSheet {
    position: absolute;
    background-color: #b0b0b0;
    border-radius: 20px;
    width: fit-content;
    padding: 5%;
    z-index: 999;
    position: fixed;
} */

#custDiv {
    /* background-color: #a14900; */
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: fit-content;
    position: relative;
}

#cs_BG {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 998;
    position: absolute;
    background-color: #242424c0;
    display: none;
}

#chargeSheet {
    background-color: #b0b0b0;
    border-radius: 20px;
    width: 30%;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#chargeSheet button {
    margin-bottom: 2%;
}

#d_found {
    width: 10vw;
    display: flex;
    flex-direction: row;
    margin-top: -3%;
    margin-bottom: -3%;
    justify-content: space-between;
}
